#!/usr/bin/env python3
PACKAGE = "ltu_actor_route_stop_sign_detector"  # Catkin Package Name

# Import library
from dynamic_reconfigure.parameter_generator_catkin import *

# Create Instance
gen = ParameterGenerator()

gen.add(
    "debug",  # variable name
    bool_t,  # data type
    0,  # msg level
    ">>> Displays useful information",  # display on hover
    False,  # default
)

gen.add(
    "enable",  # variable name
    bool_t,  # data type
    0,  # msg level
    ">>> Pauses detection on uncheck but keeps the node running",  # display on hover
    True,  # default
)

gen.add(
    "flip_image",  # variable name
    bool_t,  # data type
    0,  # msg level
    "Flips camera image on both axis",  # display on hover
    False,  # default
)

gen.add(
    "image_resize",  # variable name
    int_t,  # data type
    0,  # msg level
    "Resizes camera image for detection",  # display on hover
    640,  # default size
    192,  # Minimum size
    2560,  # Maximum size
)

gen.add(
    "box_limit",  # variable name
    int_t,  # data type
    0,  # msg level
    "Max percent size (of total image) for detected bounding boxes",  # display on hover
    70,  # default size
    0,  # Minimum size
    100,  # Maximum size
)

# Generate the menu in rqt tool
exit(gen.generate(PACKAGE, "route_stop_sign_detector", "StopSignDetect"))
# 1st param - Package name constant from top
# 2nd param - node name this could be called in (for documentation only)
# 3rd param - This file's name without extension. Adds 'Config' at the end

# for details: https://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile
